.title {
  text-transform: uppercase;
  font-size: 8vw;
  cursor: pointer;
  color: rgba(64, 62, 208, 0.913);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  margin: 10px;
  width: 100%;
  background-color: grey;
}
